
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Roboto', sans-serif;
}

header ul {
    list-style: none;
    font-size: 20px;
    font-style: italic;
}

a {
    text-decoration: none;
    font-weight: 700;
    
}

body {
    background: url(./gif5.gif) no-repeat center center fixed;  
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.5);
    z-index: 999px;
    width: 100%;
    margin-bottom: 50px;
      
}

#logo {
    width: 20%;
}

header ul {
    display: flex;
}
header ul li {
    display: flex;
    padding: 5px;
}

header ul li a {
    transition: 300ms;
}

header ul li a:hover {
    display: flex;
    padding: 5px;
    color: darkred;
    
}

.container {
    text-align: center;
}

.container .name h1 {
    padding: 10px;
    font-size: 60px;
}

.container .name h5 {
    padding: 10px;
    font-size: 25px;
}

#alien {
    font-size: 40px;
    cursor: pointer;
    animation: blink 1s steps(5, start) infinite;
}

@keyframes blink {
    to {
        visibility: hidden;
    }
}

#animation {
    transition: 400ms;
}

.rotate {
    transform:rotate(360deg);
    transition: 400ms;
}

.active {
    display: block !important;
}

#about  {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
    
}

.form {
    padding: 25px;
    width: 40%;;
    margin: 0 auto;
    box-shadow: 0px 10px 10px 0px rgba(187, 183, 183, 0.5);
    margin-top: 20px;
    border-radius: 0px 0px 15px 15px;
}

.form input {
    width: 50%;
    padding: 5px 10px;
    border: none;
    border-radius: 5px 0px 0px 5px;
}

.form button {
    width:15%;
    color: black;
    padding: 5px 10px;
    background: linear-gradient(to right, darkred 50%, whitesmoke 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    color: black;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: 400ms;
    border-radius: 0px 5px 5px 0px;
    margin-top: 20px;
    margin-left: -5px;
}

.form button:hover {
    background-position: left bottom;
    background-color: darkred;
    color: whitesmoke;
}

.rodape {
    
    padding: 0;
    list-style: none;
    margin: 2% auto;
    position:relative;
    bottom: 0;
    height: 100px;
    line-height: 25px;
    width: 80%;
    
    
}

.rodape ul {
    list-style: none;
}

.rodape #cop {
    color: slategray;
    font-size: 11px;
    
}

.rodape ul li a {
    transition: 400ms;
    
}

.rodape ul li a:hover {
    background-position: left bottom;
    color: darkred;
}

@media only screen and (max-width: 480px) {
    .container .name h1 {
        font-size: 30px;
    }

    .container .name h5 {
        font-size: 15px;
    }
    #about p {
        max-width: 80%;
        text-align: justify;
        margin: 0 auto;
        
    }
    header ul li {
        font-size: 15px;
        
    }
}

@media only screen and (max-width: 768px) {
    .form {
        width: 100%;
    }
}











